<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML"%>

<% if facebook_session %>
  <h1>Welcome, <%= fb_name facebook_session.user %></h1>
<% else %>
  <p>To connect your account to facebook, login to facebook using the button below. This will allow you to login via your facebook account and add items to your news feed.</p>
  <% js = update_page {|page| page.redirect_to create_connection_path}%>
  <%= fb_login_button js%>
<% end %>


